.tr, th, td {
  border: 1px solid #444444;
}

/* .table {
  background-color: #E7E9E9;
  border: none;
  border-radius: 15px;
  
  width: 200px;
  height: 200px;
} */

.main-image {
  height: 250px;
  background-color: #D0F3F4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deleteAdmin {
  height: 40px;
  width: 80px;
  position: absolute;
  right: 100px;
  top: 10px;

  border: none;
  border-radius: 10px;
  background-color: #ffffff;
}

.logout {
  height: 40px;
  width: 80px;
  position: absolute;
  right: 10px;
  top: 10px;

  border: none;
  border-radius: 10px;
  background-color: #ffffff;
}

.content-title {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20px;
}

.table {
  display: flex;
  align-items: center;
  justify-content: center;
}

.goto-news {
  display: flex;
  align-items: center;
  justify-content: center;
}

.goto-news-botton {
  background-color: #C1DCDE;
  padding: 40px 180px;
  border-radius: 20px;
  border: none;
}